/* e-Warung global styling */
:root {
	--main-color: #8c1517;
	--container-color: beige;
	--queued: yellow;
	--ready-to-deliver: #b4d8a8;
	--delivering: #019d0e;
	--being-cooked: #fe9900;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.login-container {
	padding: 7% 30%;
}
img.login-icon {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}
.background-red {
	background-color: var(--main-color);
}
.beige-text {
	color: var(--container-color);
}
.centered {
	text-align: center;
}
img.small-icon {
	width: 70px;
	height: 70px;
	margin-top: 5px;
	margin-right: 5px;
}
.navbar {
	background-color: var(--main-color);
	-webkit-padding-start: 7%;
    -webkit-padding-end: 8%;
}
.nav {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-brand:link, .navbar-brand:visited {
	color: white;
}
#motto {
	color: white;
	font-family: "Roboto";
	font-size: 12px;
}
.navbar-nav li a:link, .navbar-nav li a:visited {
	color: white;
}
.container {
	background-color: var(--container-color);
}
.order-item {
	position: relative;
	display: inline-flex;
	margin: 10px;
	border-color: black;
	border-width: 1px;
	font-size: 20px;
}
a.order-link:link, a.order-link:visited {
	color: black;
}
a.order-delivering:link, a.order-delivering:visited {
	color: white;
}
.order-status {
	border: 2px solid black;
	border-radius: 10px;
	min-width: 170px;
	width: 170px;
	max-width: 170px;
	text-align: center;
	transition-property: border-radius;
	transition-timing-function: linear;
	transition-duration: 0.1s;
}
a.order-link:hover .order-status {
	border-radius: 20px;
}
a.order-delivering:hover .order-status {
	border-radius: 20px;
}
.queued {
	background-color: var(--queued);
}
.ready {
	background-color: var(--ready-to-deliver);
}
.delivering {
	background-color: var(--delivering);
	font-color: white;
}
.cooked {
	background-color: var(--being-cooked);
}
.ordered-items {
	overflow-x: hidden;
	padding-top: 15px;
	padding-left: 15px;
	color: black;
}
img.arrow-icon {
	width: 35px;
	height: 60px;
	display: inline-flex;
	position: absolute;
	right: 20px;
}
button.back-button {
	background-color: red;
	color: white;
	border-color: red;
	border-radius:5px;
	font-size: 20px;
}
table.order-detail-list {
	font-size: 20px;
}
img.order-img {
	width: 160px;
	height: 100px;
}
td.img-container {
	width: 45%;
}
.order-info {
	display: inline-flex;
	width: 100%;
	justify-content: flex-end;
}
.status-fixed-height {
	min-height: 45px;
	max-height: 45px;
	margin-right: 5px;
	border: 2px solid black;
}
span.order-detail-status {
	font-size: 20px;
	line-height: 2;
	vertical-align: middle;
}
button.cancel-button {
	background-color: red;
	color: white;
	border-color: red;
	border-radius: 5px;
	font-size: 20px;
	margin-left: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgb(33, 243, 138);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(33, 243, 51);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.selectlocation {
	display: inline;
}
.locationbutton {
	width: 30%;
	float:left;
}
.gpsbutton {
	float: right;
}
input[type=text] {
	width: 400px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url("../img/searchicon.png");
	background-size: 25px 25px;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
	width: 100%;
}
.empty {
	width:60%;
	height: 430px;
}
.map{
	height: 500px;
	background-image: url("../img/map.png");
	width: 60%;
}
.confloc {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 600px;
	position: absolute;
	left: 140px;
}