/* e-Warung global styling */
:root {
	--main-color: #8c1517;
	--container-color: beige;
}
.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.login-container {
	padding: 7% 30%;
}
img.login-icon {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}
.background-red {
	background-color: var(--main-color);
}
.beige-text {
	color: var(--container-color);
}
.centered {
	text-align: center;
}
img.small-icon {
	width: 70px;
	height: 70px;
	margin-top: 5px;
	margin-right: 5px;
}
.navbar {
	background-color: var(--main-color);
	-webkit-padding-start: 7%;
    -webkit-padding-end: 8%;
}
.nav {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-brand:link, .navbar-brand:visited {
	color: white;
}
#motto {
	color: white;
	font-family: "Roboto";
	font-size: 12px;
}
.navbar-nav li a:link, .navbar-nav li a:visited {
	color: white;
}
.container {
	background-color: var(--container-color);
}
.navbar li {
	color: black;
	font-size: ;
}
.navbar li a:hover {
	background-color: #eeeeee;
	text-underline-position:
	text-decoration-color: 
}